*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-image: linear-gradient(90deg, #f2b5d4,#eff7f6, #7bdff2);
}
div{
    margin: 1rem;
    text-align: center;
    font-size: larger;
}
select{
    background-color: aquamarine;
}
select:hover{
    cursor: pointer;
    transform: scale(1.1);
}
form{
    text-align: center;
    padding: 2rem;
}
form input, form select{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    /* background: white; */
    border-radius: 5px;
    text-align: center;

}
form input{
    width: 40rem;
}
.js_add_btn{
    padding: 0.5rem;
    width: 5rem;
    background-color: #a8dadc;
    border-radius: 5px;
}
.btn{
    padding: 0.5rem;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    /* z-index: 2; */
    /* box-shadow: 3px 3px 3px 5px #ff9f1c; */
}
.edit{
    background-color: #e0b1cb;
}
.delete{
    background-color: #f694c1;
    background-color: #ff0a54;
}
/* .items{
    display: flex;
    justify-content: space-between;
} */
.li_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    /* padding: 1rem; */
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    padding-left: 2rem;
}
.display_none{
    display: none;
}
.checked{
    text-decoration: line-through;
    opacity: 8;
}



.high{
    background-color: #ffb3c1;
  }
  .medium{
    background-color: #fcf6bd;
  }
  .low{
    background-color: #c7f9cc;
  }